{% extends 'base.html' %}
{% load blogs thumbnail %}

{% block title %}
Portfolio
{% endblock %}

{% block content %}
    <div class="mdl-grid" >
      {% for portfolio_item in portfolio_items %}
      <div class="mdl-cell mdl-cell--3-col">
        <div class="mdl-card mdl-shadow--2dp portfolio-item">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ portfolio_item.title | title }}</h2>
          </div>
          <div class="mdl-card__media">
            {% thumbnail portfolio_item.image '150x150' padding=True as im %}
            <img class="portfolio-image" src="{{ im.url }}" alt="{{ portfolio_item.title }}"/>
            {% endthumbnail %}
          </div>
          <div class="mdl-card__supporting-text">
            {% autoescape off %}
            {{ portfolio_item.description | markdown }}
            {% endautoescape %}
          </div>
          <div class="mdl-card__actions">
              {% if portfolio_item.url %}<a href="{{ portfolio_item.url }}">{{ portfolio_item.title | title }}</a>{% else %}{{ portfolio_item.title | title }}{% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
