@import "variables";

.mdl-navigation__link--active {
 border-bottom: 3px solid @blue_100;
}

time{
  font-weight: bold;
  display: bold;
  margin-bottom: 5px
}

.portfolio-item
{
  height: 340px;
}

.mdl-card__media {
  background-color: #fff !important;
}
