{% extends 'base.html' %}

{% load blogs %}

{% block title %}
{{ post.title | title }}
{% endblock %}

{% block content %}
    <div class="mdl-grid" >
      <div class="mdl-cell mdl-cell--12-col">
        <h4>
          {{ post.title | title }}
        </h4>
        <time datetime="{{ post.created_at.isoformat }}">
        {{ post.created_at|date:"b j Y" }}
        </time>
        {% autoescape off %}
        {{ post.content | markdown }}
        {% endautoescape %}
      </div>
    </div>
{% endblock content %}
