{% extends 'base.html' %}

{% block title %}
Blog
{% endblock %}

{% block content %}
    <div class="mdl-grid" >
      <div class="mdl-cell mdl-cell--12-col">
        <p>
          Some of my thoughts...
        </p>
          <ul class="mdl-list">
            {% for post in posts %}
            <li class="mdl-list__item">
              <a href="{% url 'blog-detail' post.slug %}" class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">book</i>
                {{ post.title | title }}
              </a>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
{% endblock content %}
