{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="mdl-grid" >
      <div class="mdl-cell mdl-cell--12-col">
        <p>
                Hi there, welcome to my personal website. My name is <strong>Leonard Kioi Kinyanjui</strong>. I am a <strong>web developer</strong> passionate about building cool web applications. I use <strong>Python</strong> and <strong>Django</strong> for the back end, <strong>Angular</strong> and <strong>Bootstrap</strong> for the front end. For DevOps, I use <strong>Ansible</strong>, <strong>Vagrant</strong>. Kindly, have a look around, you may find something you like.
        </p>
          <h5>
              Recent Posts
          </h5>
          <ul class="mdl-list">
            {% for post in posts %}
            <li class="mdl-list__item">
              <a href="{% url 'blog-detail' post.slug %}" class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">book</i>
                {{ post.title | title }}
              </a>
            </li>
            {% endfor %}
          </ul>
      </div>
    </div>
{% endblock content %}
