{% load compress static %}
<!doctype html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %} | CodeNyumbani
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-blue.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'core/css/prism.css' %}">
        <link rel="icon" href="{% static 'core/images/favicon.png' %}" type="image/png">
        {% compress css %}
        <link type="text/less" href="{% static 'core/less/core.less' %}" rel="stylesheet">
        {% endcompress %}
    </head>
    <body>
      <div class="mdl-layout mdl-js-layout mdl-layout--no-desktop-drawer-button mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Code Nyumbani</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
              <a class="mdl-navigation__link {% if is_home %}mdl-navigation__link--active{% endif %}" href="{% url 'core-home' %}">Home</a>
              <a class="mdl-navigation__link {% if is_blog %}mdl-navigation__link--active{% endif %}" href="{% url 'blogs-home' %}">Blog</a>
              <a class="mdl-navigation__link {% if is_portfolio %}mdl-navigation__link--active{% endif %}" href="{% url 'portfolio-home' %}">Portfolio</a>
              <a class="mdl-navigation__link {% if is_contact %}mdl-navigation__link--active{% endif %}" href="{% url 'contact-home' %}">Contact</a>
            </nav>
          </div>
        </header>
        <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">Code Nyumbani</span>
          <nav class="mdl-navigation">
              <a class="mdl-navigation__link {% if is_home %}mdl-navigation__link--active{% endif %}" href="{% url 'core-home' %}">Home</a>
              <a class="mdl-navigation__link {% if is_blog %}mdl-navigation__link--active{% endif %}" href="{% url 'blogs-home' %}">Blog</a>
              <a class="mdl-navigation__link {% if is_portfolio %}mdl-navigation__link--active{% endif %}" href="{% url 'portfolio-home' %}">Portfolio</a>
              <a class="mdl-navigation__link {% if is_contact %}mdl-navigation__link--active{% endif %}" href="{% url 'contact-home' %}">Contact</a>
          </nav>
        </div>
        <main class="mdl-layout__content">
          {% block content %}
          {% endblock content %}
        </main>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">
              Code Nyumbani
            </div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="{% url 'core-home' %}">Home</a></li>
              <li><a href="{% url 'blogs-home' %}">Blog</a></li>
              <li><a href="{% url 'portfolio-home' %}">Portfolio</a></li>
              <li><a href="{% url 'contact-home' %}">Contact</a></li>
            </ul>
          </div>
          <div class="mdl-mini-footer__right-section">
            <ul class="mdl-mini-footer__link-list">
              <li>
                <a href="https://twitter.com/lk_kioi">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/leonard.kinyanjui.52">
                  <i class="fa fa-facebook fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/107126755828311632215/about">
                  <i class="fa fa-google-plus fa-2x"></i>
                </a>
              </li>
            </ul>
          </div>
        </footer>
      </div>
        <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
        <script src="{% static 'core/js/prism.js' %}"></script>
    </body>
</html>
