import multiprocessing

bind = "0.0.0.0:{{ API_PORT }}"

workers = multiprocessing.cpu_count() * 2

chdir = "{{ APP_DIR }}"

pidfile = "{{ PID_DIR }}/gunicorn.pid" 

user = "{{ APP_USER }}"

accesslog = "{{ APP_DIR }}/log/gunicorn_access.log"

errorlog = "{{ APP_DIR }}/log/gunicorn_error.log"

raw_env = "DJANGO_SETTINGS_MODULE=codenyumbani.settings.{{ APP_ENVIRONMENT }}"
