set httpd port 5050
    allow localhost
    allow {{ APP_NAME }}:{{ MONIT_WEB_PASSWORD }}

check process gunicorn with pidfile {{ PID_DIR }}/gunicorn.pid
    group gunicorn

    start program = "{{ APP_VIRTUALENV }}/bin/gunicorn codenyumbani.wsgi:application --config {{ APP_DIR }}/gunicorn_config.py"
    stop program = "/bin/bash -c 'kill -s SIGTERM `cat {{ PID_DIR }}/gunicorn.pid`'"
