{% extends 'base.html' %}

{% block title %}
Contact
{% endblock title %}

{% block content %}
    <div class="mdl-grid" >
      <div class="mdl-cell mdl-cell--12-col">
          <ul class="mdl-list">
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">email</i>
                Feel free to shoot me an email: lenny[dot]kinyanjui[dot]lk[at]gmail[dot]com
              </span>
            </li>
          </ul>
      </div>
    </div>
{% endblock %}
